#calculator {
  background-color: black;
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
}

.button-container {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  border-radius: 5;
  background-color: rgba(0, 0, 0, 0.409);
  border-color: beige;
  font-size: 100%;
  color:white;
  width: 45px;
  height: 45px;
  margin: 3px;
}