.heading{
  color:blue;
  background-color: yellow;;
}

body{
  background-color: pink;
}

button{
  background-color: blue;
  color:white;
}

#box{
  height:80px;
  width:80px;
  background-color: blueviolet;
  border:1px solid black;
  text-align:center;

}